readme_pre.md


# macOS files
.DS_Store

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook files
.ipynb_checkpoints

# Virtual environment
venv/
*.venv
.env

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec